In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('../Datasets/energy.csv',index_col=[0])
data

,date,Dishwasher,Heating,Home office,Fridge,Kitchen,Microwave,Living room,gen,con,dif,month,day,time
0,2016-01-01 05:00:00,0.003817,8.077850,14.508850,2.271667,0.012350,1.299100,0.090283,0.198417,26.263917,-26.065501,1,1,05:00:00
1,2016-01-01 06:00:00,0.005950,14.194200,2.597617,4.531317,0.010866,0.252967,0.097083,0.205300,21.690000,-21.484700,1,1,06:00:00
2,2016-01-01 07:00:00,0.002550,5.965467,2.604967,3.569133,0.008033,0.254733,0.097717,0.206900,12.502601,-12.295701,1,1,07:00:00
3,2016-01-01 08:00:00,0.008300,22.509200,3.900833,3.624717,0.010600,0.256450,0.098067,0.206850,30.408167,-30.201317,1,1,08:00:00
4,2016-01-01 09:00:00,0.003617,9.180000,2.603500,2.106350,0.007484,0.255467,0.099000,0.206350,14.255417,-14.049067,1,1,09:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,2016-12-15 23:00:00,0.004500,17.168133,2.511183,2.654150,0.010067,0.185067,0.075633,0.248250,22.608733,-22.360483,12,15,23:00:00
8395,2016-12-16 00:00:00,0.003568,17.836333,2.502683,3.029500,0.005717,0.180050,0.074133,0.246533,23.631985,-23.385451,12,16,00:00:00
8396,2016-12-16 01:00:00,0.006000,20.452367,2.515267,2.948417,0.010867,0.186267,0.076550,0.248483,26.195734,-25.947250,12,16,01:00:00
8397,2016-12-16 02:00:00,0.005117,16.342867,2.513983,3.003783,0.010033,0.186633,0.076183,0.249867,22.138600,-21.888734,12,16,02:00:00
8398,2016-12-16 03:00:00,0.002150,9.931650,1.261667,0.172333,0.004450,0.109700,3.005417,0.101917,14.487367,-14.385450,12,16,03:00:00

In [4]:
data[data['month']==1].head(50)

,date,Dishwasher,Heating,Home office,Fridge,Kitchen,Microwave,Living room,gen,con,dif,month,day,time
0,2016-01-01 05:00:00,0.003817,8.077850,14.508850,2.271667,0.012350,1.299100,0.090283,0.198417,26.263917,-26.065501,1,1,05:00:00
1,2016-01-01 06:00:00,0.005950,14.194200,2.597617,4.531317,0.010866,0.252967,0.097083,0.205300,21.690000,-21.484700,1,1,06:00:00
2,2016-01-01 07:00:00,0.002550,5.965467,2.604967,3.569133,0.008033,0.254733,0.097717,0.206900,12.502601,-12.295701,1,1,07:00:00
3,2016-01-01 08:00:00,0.008300,22.509200,3.900833,3.624717,0.010600,0.256450,0.098067,0.206850,30.408167,-30.201317,1,1,08:00:00
4,2016-01-01 09:00:00,0.003617,9.180000,2.603500,2.106350,0.007484,0.255467,0.099000,0.206350,14.255417,-14.049067,1,1,09:00:00
5,2016-01-01 10:00:00,0.004333,21.653600,2.594283,3.079683,0.008267,0.255083,0.097267,0.205550,27.692517,-27.486967,1,1,10:00:00
6,2016-01-01 11:00:00,0.005034,10.546683,2.596050,3.561617,0.011283,0.252717,0.096383,0.205350,17.069767,-16.864417,1,1,11:00:00
7,2016-01-01 12:00:00,0.005234,12.383650,2.569950,2.923450,0.007100,0.255317,0.095600,0.205133,18.240301,-18.035167,1,1,12:00:00
8,2016-01-01 13:00:00,0.000367,1.233083,2.506683,2.656683,0.001934,0.252367,0.093717,0.389050,6.744834,-6.355784,1,1,13:00:00
9,2016-01-01 14:00:00,0.003867,7.656867,2.503300,1.603217,4.829483,0.836217,18.910517,6.891967,36.343467,-29.451500,1,1,14:00:00
10,2016-01-01 15:00:00,0.006383,17.171800,2.491017,2.628467,0.010683,0.253817,20.027233,3.094450,42.589400,-39.494950,1,1,15:00:00
11,2016-01-01 16:00:00,0.006784,11.779483,5.682833,7.272117,0.015800,1.707633,8.705050,1.123267,35.169700,-34.046434,1,1,16:00:00
12,2016-01-01 17:00:00,0.006117,11.203817,2.479183,7.103583,0.012583,0.247733,6.045317,1.222767,27.098334,-25.875567,1,1,17:00:00
13,2016-01-01 18:00:00,0.015200,26.717750,2.492933,6.823167,5.313583,1.666000,5.974933,1.619417,49.003567,-47.384150,1,1,18:00:00
14,2016-01-01 19:00:00,29.262150,2.525800,2.488467,7.005850,0.615783,0.246550,2.028067,1.300900,44.172667,-42.871767,1,1,19:00:00
15,2016-01-01 20:00:00,30.115883,2.758150,2.452850,6.536550,0.026350,3.912817,0.090867,0.139700,45.893467,-45.753767,1,1,20:00:00
16,2016-01-01 21:00:00,0.051400,19.884200,2.513600,6.472250,0.006750,0.252300,2.489500,0.196333,31.670000,-31.473667,1,1,21:00:00
17,2016-01-01 22:00:00,0.006267,15.584983,2.538500,6.772850,0.012383,0.257067,5.940217,0.205283,31.112267,-30.906983,1,1,22:00:00
18,2016-01-01 23:00:00,0.003917,10.796600,2.543367,14.197633,0.014500,0.246783,5.994850,0.203217,33.797650,-33.594434,1,1,23:00:00
19,2016-01-02 00:00:00,0.005150,15.370800,4.895583,8.948350,0.010467,3.770033,9.622533,0.192867,42.622917,-42.430050,1,2,00:00:00
20,2016-01-02 01:00:00,0.006617,14.216700,16.535183,0.549467,6.140667,0.826250,12.124867,0.198917,50.399750,-50.200834,1,2,01:00:00
21,2016-01-02 02:00:00,0.001268,2.880700,27.905967,4.755950,0.011467,0.248550,0.096517,0.203900,35.900418,-35.696518,1,2,02:00:00
22,2016-01-02 03:00:00,0.002934,5.531033,25.326400,0.290300,0.016817,0.253617,0.098433,0.205967,31.519534,-31.313568,1,2,03:00:00
23,2016-01-02 04:00:00,31.169417,14.755600,5.437800,2.398567,0.029517,0.259183,0.089433,0.194650,54.139517,-53.944867,1,2,04:00:00
24,2016-01-02 05:00:00,25.441317,5.212733,3.055217,4.760400,0.022317,0.254250,0.096533,0.204317,38.842767,-38.638450,1,2,05:00:00
25,2016-01-02 06:00:00,6.377900,10.551633,3.064783,0.303717,0.010717,0.253600,0.097750,0.205883,20.660100,-20.454217,1,2,06:00:00
26,2016-01-02 07:00:00,0.017817,4.712283,3.047400,7.479417,0.010966,0.255883,0.098883,0.205717,15.622650,-15.416933,1,2,07:00:00
27,2016-01-02 08:00:00,0.008617,24.662817,3.310433,0.296383,0.010283,0.253033,0.097033,0.205717,28.638600,-28.432883,1,2,08:00:00
28,2016-01-02 09:00:00,0.014183,11.246967,3.085383,5.524867,0.009217,0.253550,0.096583,0.204133,20.230750,-20.026617,1,2,09:00:00
29,2016-01-02 10:00:00,0.015317,12.164383,3.051567,0.362000,0.009617,0.252317,0.096383,0.204283,15.951584,-15.747300,1,2,10:00:00
30,2016-01-02 11:00:00,0.015133,12.677250,3.061317,4.817833,0.011233,0.252250,0.096450,0.204083,20.931467,-20.727383,1,2,11:00:00
31,2016-01-02 12:00:00,0.010417,26.011133,2.955383,0.361067,4.591450,1.671517,5.069517,0.229117,40.670483,-40.441366,1,2,12:00:00
32,2016-01-02 13:00:00,0.011467,28.766950,2.985933,5.081267,0.014800,0.250467,10.424617,2.594300,47.535500,-44.941200,1,2,13:00:00
33,2016-01-02 14:00:00,0.003434,6.041917,2.924533,0.646517,0.007533,0.256333,0.081733,3.131150,9.962000,-6.830850,1,2,14:00:00
34,2016-01-02 15:00:00,0.009234,21.406100,2.959550,4.193550,0.011767,0.253417,0.083617,13.919200,28.917234,-14.998034,1,2,15:00:00
35,2016-01-02 16:00:00,0.005800,12.494083,2.950933,2.176467,0.008300,0.257367,0.086450,22.039333,17.979400,4.059933,1,2,16:00:00
36,2016-01-02 17:00:00,0.006200,12.809767,2.951783,2.231533,0.008400,0.252517,1.346133,21.274783,19.606334,1.668450,1,2,17:00:00
37,2016-01-02 18:00:00,0.006567,14.170833,2.946200,5.474250,3.519084,1.127300,1.250300,8.446183,28.494534,-20.048350,1,2,18:00:00
38,2016-01-02 19:00:00,0.003200,5.639017,2.920250,0.542667,0.010334,0.257750,5.816783,1.101817,15.190000,-14.088184,1,2,19:00:00
39,2016-01-02 20:00:00,0.008967,24.959983,3.367917,4.252467,0.008867,0.256800,5.844983,0.303100,38.699983,-38.396884,1,2,20:00:00
40,2016-01-02 21:00:00,0.004767,15.084000,5.441483,1.253267,0.009983,0.255567,5.910417,0.178600,27.959483,-27.780883,1,2,21:00:00
41,2016-01-02 22:00:00,0.003517,12.119933,5.925233,3.457400,0.008883,0.254467,6.550583,0.201650,28.320017,-28.118367,1,2,22:00:00
42,2016-01-02 23:00:00,0.005167,11.183950,5.464083,4.694033,0.010567,0.254283,5.966417,0.201633,27.578500,-27.376867,1,2,23:00:00
43,2016-01-03 00:00:00,0.002901,8.519200,5.485400,7.786717,0.005000,0.245250,5.975000,0.201517,28.019467,-27.817951,1,3,00:00:00
44,2016-01-03 01:00:00,25.793300,13.472400,18.174433,14.667117,6.573400,0.817033,5.928533,0.200283,85.426217,-85.225933,1,3,01:00:00
45,2016-01-03 02:00:00,27.211400,3.216433,28.879100,7.771683,0.032350,0.249783,5.967283,0.202150,73.328033,-73.125883,1,3,02:00:00
46,2016-01-03 03:00:00,0.036150,1.251067,26.714967,0.290000,0.017300,0.254483,6.058600,0.203183,34.622567,-34.419383,1,3,03:00:00
47,2016-01-03 04:00:00,0.012750,7.714267,11.048433,6.474050,0.011833,0.258133,0.465000,0.186250,25.984467,-25.798217,1,3,04:00:00
48,2016-01-03 05:00:00,0.013450,12.581500,2.546483,1.494350,0.006000,0.254700,0.097433,0.184317,16.993917,-16.809600,1,3,05:00:00
49,2016-01-03 06:00:00,0.013667,10.577317,2.543033,5.791417,0.010283,0.251717,0.095733,0.183867,19.283166,-19.099300,1,3,06:00:00

In [5]:
data.shape

(8399, 14)

In [16]:
conf_gen=pd.read_csv('../Datasets/confinterval_gen_14_19.csv',index_col=[0])

In [17]:
conf_gen

        month  lower_limit  higher_limit
0     January     5.883945    142.265616
1    February   -18.071441    173.518560
2       March    31.190005    163.640822
3       April     0.813697    187.909033
4         May    11.669613    154.441151
5        June    53.748849    164.321798
6        July    47.928591    146.202210
7      August    45.186261    153.138379
8   September    36.384581    147.821855
9     October     1.592045    129.982749
10   November    -7.985257    138.813643
11   December    -7.555283    102.401995

In [13]:
conf_con=pd.read_csv('../Datasets/confinterval_con_14_19.csv',index_col=[0])

In [14]:
conf_con

        month  lower_limit  higher_limit
0     January    76.093224    259.178426
1    February    45.840683    235.736077
2       March    38.788123    179.369990
3       April    20.586387    192.123170
4         May     4.365889    174.169455
5        June    30.108676    129.959028
6        July    31.983523    196.375087
7      August    33.551170    215.650363
8   September    22.801002    191.721165
9     October    29.442653    169.613845
10   November    26.592891    208.878309
11   December    55.608585    213.598225

In [15]:
conf_gen

        month  lower_limit  higher_limit
0     January     5.883945    142.265616
1    February   -18.071441    173.518560
2       March    31.190005    163.640822
3       April     0.813697    187.909033
4         May    11.669613    154.441151
5        June    53.748849    164.321798
6        July    47.928591    146.202210
7      August    45.186261    153.138379
8   September    36.384581    147.821855
9     October     1.592045    129.982749
10   November    -7.985257    138.813643
11   December    -7.555283    102.401995

In [11]:
df_stats=pd.read_csv('../Datasets/stats_14_19.csv',index_col=[0])

In [12]:
df_stats

        month  statistic       p-value
0     January  -7.384313  5.520471e-10
1    February  -4.069642  1.491549e-04
2       March  -1.088078  2.809122e-01
3       April  -0.837060  4.059947e-01
4         May  -0.504559  6.157165e-01
5        June   3.448533  1.056186e-03
6        July  -1.610048  1.126366e-01
7      August  -2.165223  3.435751e-02
8   September  -1.326952  1.897250e-01
9     October  -3.198358  2.207966e-03
10   November  -3.960345  2.071194e-04
11   December  -5.574892  5.778759e-06

In [19]:
conf_gen_noheat=pd.read_csv('../Datasets/confinterval_gen_14_19_noheating.csv',index_col=[0])
conf_con_noheat=pd.read_csv('../Datasets/confinterval_con_14_19_noheating.csv',index_col=[0])
df_stats_noheat=pd.read_csv('../Datasets/stats_14_19_noheating.csv',index_col=[0])

In [20]:
df_stats_noheat

        month  statistic   p-value
0     January  -0.760366  0.450014
1    February   1.566858  0.122782
2       March   3.520384  0.000830
3       April   1.568708  0.122156
4         May   0.986344  0.327925
5        June   4.889780  0.000008
6        July   1.045340  0.300059
7      August   0.280302  0.780210
8   September   0.130061  0.896968
9     October  -1.840417  0.070654
10   November  -1.416582  0.161954
11   December  -1.742969  0.092313

In [21]:
conf_gen_noheat

        month  lower_limit  higher_limit
0     January     5.883945    142.265616
1    February   -18.071441    173.518560
2       March    31.190005    163.640822
3       April     0.813697    187.909033
4         May    11.669613    154.441151
5        June    53.748849    164.321798
6        July    47.928591    146.202210
7      August    45.186261    153.138379
8   September    36.384581    147.821855
9     October     1.592045    129.982749
10   November    -7.985257    138.813643
11   December    -7.555283    102.401995

In [22]:
conf_con_noheat

        month  lower_limit  higher_limit
0     January     9.730438    155.251567
1    February     5.921665    110.252903
2       March    20.712064    111.395148
3       April    10.423190    138.177433
4         May    -0.703129    144.518099
5        June    21.064319    116.408280
6        July    27.750633    148.331143
7      August    25.344383    167.428430
8   September    22.795231    158.829146
9     October    19.605463    149.241356
10   November    12.146952    150.996122
11   December    -9.658690    162.312712